@model IEnumerable<SMS_Data.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        padding-left: 5px;
        color: #1a1c1a;
    }

        a:hover {
            text-decoration: none;
            color: #bd2130;
        }

    #title {
        margin-left: 20px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline-block;
        margin-bottom: 20px;
    }

    #button {
        margin-left: 990px;
        padding: 6px 12px;
        color: #fff;
        background-color: #3498db;
        border: none;
        border-radius: 13px;
        margin-bottom: 14px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.15);
    }

        #button:hover {
            background-color: #2196f3;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
        }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

</style>
<div class="card" style="border-radius:20px;">
    <div class="card-body">
        <h3 id="title">Staff Management</h3>
        <a id="button" asp-action="Create">ADD STAFF</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <h6 style="text-align:center;font-weight:600">Staff Name</h6>
                    </th>
                    <th scope="col">
                        <h6 style="text-align:center;font-weight:600">Mobile</h6>
                    </th>
                    <th scope="col">
                        <h6 style="text-align:center;font-weight:600">Designation</h6>
                    </th>
                    <th scope="col">
                        <h6 style="text-align:center;font-weight:600">Speciality</h6>
                    </th>
                    <th scope="col">
                        <h6 style="text-align:center;font-weight:600">Employee Type</h6>
                    </th>
                    <th scope="col">
                        <h6 style="text-align:center;font-weight:600">City</h6>
                    </th>
                    <th scope="col">
                        <h6 style="text-align:center;font-weight:600">Salary Type</h6>
                    </th>
                    <th>
                        <h6 style="text-align:center;font-weight:600">Actions</h6>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align:center; font-size: 14px;">
                        <td>
                            @Html.DisplayFor(modelItem => item.StaffName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectSpeciality)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.salarytable.TypeName)
                        </td>
                        <td>

                            <a asp-action="Edit" asp-route-id="@item.StaffId">
                                <i class="fa fa-clipboard"></i>
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.StaffId">
                                <i class="fa fa-trash"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
